/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Light theme (default) */
body.light-theme {
  background-color: #fff;
  color: #000;
}
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* Dark theme */
body.dark-theme {
  background-color: #000;
  color: #fff;
}

/* Optional: Style Angular Material background and text */
.mat-form-field,
.mat-button {
  color: inherit;
}
